@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1a2235;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.70);
    margin: 0;
}

.main {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    margin-bottom: 50px;
}

.photo {
    padding-right: 50px;
    flex-shrink: 0;
}

.main img {
    width: 250px;
    height: auto;
    border-radius: 50%; 
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: block;
}

.main img:hover {
    transform: scale(1.1);
    transition: transform 0.4s ease-in-out;
}

.content {
    text-align: left;
    display: flex;
    flex-direction: column;
}

body h1 {
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 0 0 10px 0;
    line-height: 1.2;
    color: #47b8ec;
}

body h2 {
    font-size: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    margin: 0 0 20px 0;
    line-height: 1.2;
    color: #47b8ec;
}

body p {
    text-align: left;
    font-size: 24px;
    margin: 0 0 30px 0;
    line-height: 1.3;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.social img {
    width: 80px;
    height: 80px;
    object-fit: contain;
    transition: transform 0.2s;
    margin-right: 5px;
    border-radius: 12px
}

.social a img {
    width: 50px;
    height: 50px;
    padding: 5px;
    transition: transform 0.2s;
    background-color: #2a3344;
}

.social a img:hover {
    transform: scale(1.2);
}

.highlights {
    background-color: #2a3344;
}

.highlights-content {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.highlights-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #47b8ec;
    text-align: center;
    margin-bottom: 20px;
}

.highlight-item {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 40px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.highlight-item:hover {
    transform: scale(1.02);
}

.highlight-item-img {
    flex: 0 0 300px;
    width: 300px;
}

.highlight-item-img img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
    display: block;
}

.highlight-item-text {
    flex: 1;
    text-align: left;
    color: rgba(255, 255, 255, 0.70);
}

.highlight-item-text h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    margin-bottom: 15px;
    margin-top: 0;
    color: rgba(255, 255, 255, 0.87);
}

.highlight-item-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.70);
    margin: 0;
}

@media (max-width: 850px) {
    .highlight-item {
        flex-direction: column;
        text-align: center;
    }

    .highlight-item-img {
        flex: 0 0 auto;
        width: 100%;
        max-width: 400px;
    }

    .highlight-item-text {
        text-align: center;
    }
}

.contact {
    width: 100%;
    background-color: #1a2235;
    padding: 80px 0;
    display: flex;
    justify-content: center;
}

.contact-content {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.contact-content h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 48px;
    color: #47b8ec;
    margin-bottom: 20px;
}

.contact-content p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.70);
    max-width: 600px;
    line-height: 1.6;
    margin-bottom: 40px;
    text-align: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: #47b8ec;
    color: rgba(0,0,0,0.87);
    padding: 15px 40px;
    border-radius: 15px;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 22px;
    text-decoration: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
    padding: 10px;
    margin-bottom: 20px;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #5ea9cc;
}

.btn-icon {
    width: 30px;
    height: auto;
    display: block;
}

#mensagem {
  width: 100%;
  height: 100px;
  padding: 12px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.70);
  font-size: 15px;
  resize: vertical;
}

@media (max-width: 768px) {
    
    .main {
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        width: 90%;
    }

    .photo {
        padding-right: 0;
        margin-bottom: 30px;
    }

    .content {
        align-items: center;
        width: 100%;
    }

    body h1 {
        font-size: 32px;
    }

    body h2 {
        font-size: 20px;
    }

    body p {
        font-size: 16px;
    }
    
    .contact-content p {
        font-size: 16px;
    }

    .social {
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .social img {
        width: 60px; 
        height: 60px;
    }
    .social a img {
        width: 40px;
        height: 40px;
    }

    .highlights-content {
        width: 90%;
    }
    .highlight-item-img {
        max-width: 100%;
    }
    
    .btn {
        width: 100%;
        box-sizing: border-box; 
        padding: 15px;
        font-size: 16px;
        flex-direction: column;
        gap: 10px;
    }
    
    .btn span {
        word-break: break-all;
    }
}